@using System.Net
<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Vertaal Nederlands naar het Haags</title>
	<meta name="description" content="Voor als je Nederlands naar het Haags wil vertalen, of gewoon Haags wil leren praten zoals Harry">
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Vertaal Nederlands naar het Haags" />
	<meta property="og:site_name" content="Haags.nu" />
	<meta property="og:description" content="Wil je Haags leren praten zoals Harry? Vetaal jâh tekste vannut Neidâhlans naah ut Haags!" />
	<meta property="og:url" content="https://haags.nu" />
	<meta property="og:image" content="https://haags.nu/share.png" />
	<meta name="twitter:image:src" content="https://haags.nu/share.png" />

	<link rel="preload" href="/Lora700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/Lora400.woff2" as="font" type="font/woff2" crossorigin>

	<style>
		@@font-face {
			font-family: 'Lora';
			font-style: italic;
			font-weight: 400;
			font-display: swap;
			src: url('/LoraItalic.woff2') format('woff2'), url('/LoraItalic.woff') format('woff');
		}

		@@font-face {
			font-family: 'Lora';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: url('/Lora700.woff2') format('woff2'), url('/Lora700.woff') format('woff');
		}

		@@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url('/Lora400.woff2') format('woff2'), url('/Lora400.woff') format('woff');
		}
	</style>

	<style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/site.min.css"));</style>
</head>

<body>
	<article class="wrapper">
		<header>
			<img src="logo.png" alt="Logo van Haagse vertaalmachine" />
			<h1>Vertaal Nederlands naar het Haags</h1>
			<span>Vetaal Neidâhlans naah ut Haags</span>
		</header>

		@RenderBody()

		<section class="totstandkoming">
			<h1>Hoe is deze Haagse Vertaalmachine tot stand gekomen?</h1>
			<p>
				Speciaal voor de onthulling van het Haagse Harry-standbeeld op de Grote Markt ontwikkelde <a href="https://q42.nl/dh">Q42</a> uit Den Haag in 2016, voor de vorige versie van DenHaag.com, een automatische vertaler van het Nederlands naar het Haagse dialect.<br />
				Met dank aan Robert-Jan Rueb en Sjaak Bral voor de spellingscontrole en support op deze Haagse vertaling.
			</p>
		</section>

		<nav>
			<a href="mailto:roelfjan@q42.nl">Suggesties?</a>
		</nav>

		<footer>
			<a href="https://q42.nl">
				<img src="https://logo.q42.com/q42-logo-black.svg" alt="Q42 logo" />
			</a>

			<p>
				Gemaakt door <a href="https://twitter.com/markvanstraten">@@markvanstraten</a> en <a href="https://twitter.com/roelfjandevries">@@roelfjandevries</a>.
			</p>
		</footer>
	</article>

	<script>
		document.querySelector('.js-wis-tekst').addEventListener('click', function () {
			var textarea = document.querySelector('.js-nederlands');
			textarea.value = '';
			textarea.focus();
		});
	</script>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-74264850-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>