<!DOCTYPE html>
<html>
<head>
	<title>Vertaal Nederlands naar het Haags</title>
	<meta name="description" content="Voor als je Nederlands naar het Haags wil vertalen, of gewoon Haags wil leren praten zoals Harry">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	<meta property="og:title" content="Vertaal Nederlands naar het Haags" />
	<meta property="og:site_name" content="Haags.nu" />
	<meta property="og:description" content="Wil je Haags leren praten zoals Harry? Vetaal jâh tekste vannut Neidâhlans naah ut Haags!" />
	<meta property="og:url" content="http://haags.nu" />
	<meta property="og:image" content="http://haags.nu/share.png" />
	<meta name="twitter:image:src" content="http://haags.nu/share.png" />

	<link href='https://fonts.googleapis.com/css?family=Lora:700,400italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<style>@Html.Raw(File.ReadAllText(Server.MapPath("site.min.css")));</style>
</head>

<body>
	<article class="wrapper">
		<header>
			<img src="logo.png" alt="Logo van Haagse vertaalmachine" />
			<h1>Vertaal Nederlands naar het Haags</h1>
			<span>Vetaal Neidâhlans naah ut Haags</span>
		</header>

		@RenderBody()

		<section class="totstandkoming">
			<h1>Hoe is deze Haagse Vertaalmachine tot stand gekomen?</h1>
			<p>
				Ter ere van de onthulling van het Haagse Harry-standbeeld op de Grote Markt in Den Haag hebben wij (webdevelopers) een zesde taalkeuze toegevoegd aan DenHaag.com: het Haagse dialect. Nog steeds kun je op <a href="http://denhaag.com/dh">DenHaag.com in het Haags</a> lezen wat voor leuks er deze week weer te doen is in de stad!
			</p>
			<p>
				Speciale dank aan Den Haag Marketing en aan Robert-Jan Rueb & Sjaak Bral voor de spellingscontrole en support op deze Haagse vertaling.
			</p>
		</section>

		<nav>
			<a href="mailto:roelfjan@q42.nl">Suggesties?</a>
		</nav>

		<footer>
			<a href="http://q42.nl">
				<img src="http://logo.q42.com/q42-logo-white.svg" />
			</a>

			<p>
				Gemaakt door <a href="https://twitter.com/markvanstraten">@@markvanstraten</a> en <a href="https://twitter.com/roelfjandevries">@@roelfjandevries</a>.
			</p>
		</footer>
	</article>

	<script>
		document.querySelector('.js-wis-tekst').addEventListener('click', function () {
			var textarea = document.querySelector('.js-nederlands');
			textarea.value = '';
			textarea.focus();
		});
	</script>

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-74264850-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>