@use 'sass:math';
@import 'mixins';
@import 'components/text-block.scss';

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #fed67a;
  --on-bg-color: #ffedc1;
  --text-color: #02241a;
  --font-display: 'Grandstander', cursive;
  --font-body: 'Rubik', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.wrapper {
  max-width: rem(1300px);
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  header {
    padding: 20px 0;
    margin-bottom: rem(18px);

    @media (min-width: rem(760px)) {
      margin-bottom: rem(72px);
    }

    figure {
      width: 120px;
      margin: 0 rem(40px);
    }

    a {
      font-family: var(--font-display);
      text-decoration: none;
      text-transform: uppercase;
      font-size: rem(20px);
      font-weight: 700;

      border-bottom: 2px solid;

      &:not(.active) {
        border-color: transparent;
      }
    }

    nav {
      display: flex;
      align-items: center;

      a:first-child {
        margin-left: auto;
      }

      a:last-child {
        margin-right: auto;
      }
    }

    h1 {
      margin-top: rem(72px);
    }

    @media (min-width: rem(760px)) {
      padding: 36px 0 0;

      figure {
        width: 180px;
      }
    }
  }
}

.logo-wrap {
  height: 0;
  padding-bottom: math.div(113, 250) * 100%;
}

figure img {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: rem(24px);
  line-height: rem(24px);
  font-family: var(--font-display);
  font-weight: 800;

  @media (min-width: rem(760px)) {
    font-size: rem(40px);
    line-height: rem(42px);
  }
}

h2 {
  font-family: var(--font-display);
  margin-bottom: 10px;
  margin-top: 0;
  font-size: rem(22px);
  line-height: rem(22px);
  text-transform: uppercase;
}

span {
  font-family: var(--font-display);
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(18px);
  display: block;
  margin-top: rem(10px);
}

p {
  line-height: 1.4;
  margin: 0;
}

.translate-sections {
  margin-top: rem(36px);

  @media (min-width: rem(760px)) {
    margin-top: rem(72px);
  }

  h2 {
    min-height: rem(24px);
  }

  > section {
    width: 100%;
    max-width: rem(640px);
  }

  .button {
    margin-top: rem(20px);
    aspect-ratio: 2/1;

    box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    margin-bottom: rem(50px);
  }

  @media (min-width: rem(760px)) {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0;

    .button {
      aspect-ratio: 1.5/1;
      margin-top: rem(34px);
      margin-bottom: 0;
    }
  }
}

textarea {
  background: var(--on-bg-color);
  padding: 0.78571429em 1em;
  border: 5px solid #e5c272;
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--font-body);
  min-height: rem(200px);
  border-radius: 20px;
  transition: all 0.15s ease;
  font-size: rem(18px);
  line-height: 1.2857;
  resize: vertical;
  width: 100%;

  &:focus {
    outline: 0;
  }

  @media (min-width: rem(760px)) {
    font-size: rem(22px);
  }
}

button {
  cursor: pointer;
  font-family: var(--font-body);
}

.form-header {
  position: relative;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: 0;
    color: #4a4a4a;
    font-size: 12px;
  }
}

.nederlands-input {
  textarea {
    &:focus {
      background: white;
      border-color: #c1a361;
      box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    }
  }
}

.haags-resultaat {
  position: relative;

  button {
    position: absolute;
    bottom: 15px;
    right: 0;
    background: transparent;
    border: 0;
    color: #4a4a4a;
    font-size: 12px;
    padding: 20px 5px 5px 15px;
  }

  textarea {
    background: #e5c272;
  }
}

.button {
  display: inline-block;
  border: none;
  vertical-align: baseline;
  background: #0d7e5d;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 0 20px;
  line-height: rem(44px);
  font-style: normal;
  text-align: center;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-display);
  font-weight: 700;
  font-size: rem(24px);

  &:hover {
    background-color: #229c79;
    transform: scale(1.05);
  }

  @media (min-width: rem(760px)) {
    font-size: rem(32px);
  }
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

nav a,
p a {
  border-bottom: 1px solid;

  &:hover {
    border-color: transparent;
  }
}

footer {
  padding: 0 15px 30px;
  flex-shrink: 0;
  text-align: center;

  p {
    font-size: rem(14px);
    line-height: rem(16px);
    margin-top: 10px;
  }

  a {
    font-family: var(--font-display);
    font-weight: 500;
  }
}
