.rem(@property; @sizeValue) {
  @remSize: @sizeValue / 16;
  @{property}: ~"@{remSize}rem";
}

* {
  box-sizing: border-box;
}

body {
  background: rgba(251, 204, 20, 0.2);
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 800px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

figure {
  width: 250px;
  margin: 20px auto 0;
}

.logo-wrap {
  height: 0;
  padding-bottom: 113 / 250 * 100%;
}

figure img {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
  .rem(font-size, 30);
  .rem(line-height, 34);
  font-family: "Lora";
}

h2 {
  font-family: "Lora";
  margin-bottom: 5px;
  .rem(font-size, 20);
  .rem(line-height, 22);
}

span {
  font-family: "Lora";
  font-weight: 400;
  font-style: italic;
  .rem(font-size, 16);
  .rem(line-height, 18);
  display: block;
  .rem(margin-top, 10);
  text-align: center;
}

p {
  line-height: 1.4;
  margin: 0;
}

textarea {
  background: #fff;
  margin: 0 0 10px;
  -webkit-appearance: none;
  padding: 0.78571429em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  font-family: "Lato";
  min-height: 200px;
  border-radius: 4px;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
  width: 100%;

  &:focus {
    border-color: #85b7d9;
    color: rgba(0, 0, 0, 0.95);
  }
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.form-header {
  position: relative;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    border: 0;
    color: #4a4a4a;
    font-size: 12px;
  }
}

.haags-resultaat {
  position: relative;

  button {
    position: absolute;
    bottom: 15px;
    right: 0;
    background: transparent;
    border: 0;
    color: #4a4a4a;
    font-size: 12px;
    padding: 20px 5px 5px 15px;
  }
}

.button {
  display: inline-block;
  outline: none;
  border: none;
  .rem(font-size, 16);
  vertical-align: baseline;
  background: #0d7e5d;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 0 20px;
  .rem(line-height, 44);
  font-style: normal;
  text-align: center;
  border-radius: 4px;
  transition: all 0.1s ease;

  &:hover {
    background-color: #229c79;
  }
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

nav a,
p a {
  border-bottom: 1px solid;

  &:hover {
    border: none;
  }
}

.totstandkoming {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 100px;
  padding: 20px;
  text-align: left;

  h1 {
    .rem(font-size, 18);
    .rem(line-height, 20);
    line-height: 1.4;
    margin-bottom: 0;
  }

  p + p {
    margin-top: 22px;
  }
}

nav {
  margin-top: 40px;
}

footer {
  margin-bottom: 30px;
  margin-top: 30px;

  p {
    .rem(font-size, 14);
    .rem(line-height, 16);
    margin-top: 10px;
  }

  img {
    width: 40px;
  }
}
