@model HaagsVertaler.Models.TranslationViewModel

@{
    ViewBag.Current = "Home";
}

<h1>Vertaal Nederlands naar het Haags</h1>
<span>Vetaal Neidâhlans naah ut Haags</span>

@using (Html.BeginForm())
{
	<section class="translate-sections">
		<section class="nederlands-input">
			<div class="form-header">
				<h2>Nederlands</h2>	
				<button type="button" class="js-wis-tekst">Wis tekst</button>
			</div>
				
			@Html.TextAreaFor(f => f.Source, new { placeholder = "Het Nederlands", autofocus = true, @class = "js-nederlands", aria_label = "Nederlandse tekst" })
		</section>
		
		<button type="submit" class="button">Vertaal!</button>

		<section>
			<h2>Haags</h2>
			<div class="haags-resultaat">
				<textarea aria-label="Haagse tekst" class="js-haags" readonly>@(string.IsNullOrEmpty(Model.Result)?"Ut Haags":Model.Result)</textarea> @* Intentionally without whitespace *@
				<button type="button" class="js-kopieer-tekst">Kopieer</button>
			</div>
		</section>
	</section>
}
