@model HaagsVertaler.Models.TranslationViewModel

@using (Html.BeginForm())
{
	<h2>Nederlands</h2>
	@Html.TextAreaFor(f => f.Source, new { placeholder = "Het Nederlands"})
	<button type="submit" class="button">Vertaal</button>


	if (!string.IsNullOrEmpty(Model.Result))
	{
		<h2>Haags</h2>
		<textarea>@Model.Result</textarea>
	}
}

