@model HaagsVertaler.Models.TranslationViewModel

@using (Html.BeginForm())
{
	<div class="form-header">
		<h2>Nederlands</h2>
		<button type="button" class="js-wis-tekst">Wis tekst</button>
	</div>

	@Html.TextAreaFor(f => f.Source, new { placeholder = "Het Nederlands", autofocus = true, @class = "js-nederlands" })
	<button type="submit" class="button">Naar Haags vertalen</button>


	if (!string.IsNullOrEmpty(Model.Result))
	{
		<h2>De Haagse vertaling</h2>
		<textarea>@Model.Result</textarea>
	}
}

