@{
    ViewBag.Current = "Over";
}

<h1>Over deze website</h1>

<section class="text-block">
    <h2>Hoe is deze Haagse Vertaalmachine tot stand gekomen?</h2>
    <p>
        Speciaal voor de onthulling van het Haagse Harry-standbeeld op de Grote Markt ontwikkelde <a href="https://q42.nl/dh">Q42</a> uit Den Haag in 2016, voor de vorige versie van DenHaag.com, een automatische vertaler van het Nederlands naar het Haagse dialect.<br />
        Met dank aan Robert-Jan Rueb en Sjaak Bral voor de spellingscontrole en support op deze Haagse vertaling.
    </p>
    
   
</section>

<section class="text-block">
    <h2>
        Wie heeft deze website met vertaler gemaakt?
    </h2>
    <p>
        De website is gemaakt door <a href="https://twitter.com/markvanstraten">@@markvanstraten</a> en <a href="https://twitter.com/roelfjandevries">@@roelfjandevries</a> (<a href="https://www.ad.nl/den-haag/deed-jij-mee-aan-het-haags-dictee-bekijk-hier-de-uitslag-en-de-winnaars~a3a90b8d/" target="_blank" rel="noopener">tevens 2e op het Haags dictee 2020</a>). Laatstgenoemde verbetert de vertaler nog zo nu en dan.
    </p>
</section>